{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-default">
    <div class="panel-heading text-center">
        Please {{ 'registration.submit'|trans }}
    </div>
    <div class="panel-body text-center">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}<br>
            <input class="btn btn-success "type="submit" value="{{ 'registration.submit'|trans }}" />
    {{ form_end(form) }}
    </div>
</div>
