{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        Please {{ 'security.login.submit'|trans}}
    </div>  
    <div class="panel-body text-center">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="row">
                <div class="col-md-offset-1 col-md-2">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class='text-center' type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-offset-1 col-md-2">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
<input class='text-center' type="password" id="password" name="_password" required="required"/>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-offset-4 col-md-2">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit' | trans}}" />
                </div>
            </div>
        </form>
    </div>
</div>